.hero {
  height: 210px;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b3fe0;

  &__title {
    color: white;
  }
}