* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

/* html {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
} */